
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in cart_melons %}
                <tr>
                    <td>{{ cart_melons[melon]['common_name'] }}</td>
                    <td>{{ cart_melons[melon]['qty'] }}</td>
                    <td>{{ cart_melons[melon]['price'] }}</td>
                    <td>{{ cart_melons[melon]['qty'] * cart_melons[melon]['price'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
